<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.yovany.androidtestproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExamplesListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".view.TinderSwipeActivity" />
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.ComponentEditTextActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".view.StudentListActivity" />
        <activity android:name=".view.MPAndroidChartActivity"/>
    </application>

</manifest>